/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: #2e3033;
  color: white;
  margin-left: 0;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

main {
  text-align: center;
  vertical-align: center;
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #2e3033;
  color: white;
  margin-left: 0;
  font-size: .9em;
}

#map {
  height: 400px;
  width: 50%;
  }

.button {
  padding: 4px;
  background-color: #2e3033;
  border: 1px solid gray;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}